<ul
  style='
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-size: xx-large;
    list-style-type: none;
    {{#unless level}}
      display: flex;
      justify-content: flex-end;
      margin-left: auto;
    {{/unless}}
  '
>
  {{#each items}}
    <li
      {{menuItemClasses}}
      style='
        {{#unless ../level}}
          margin-top: 2rem;
          margin-bottom: 2rem;
          margin-left: 0;
          margin-right: 2rem;
        {{/unless}}
        white-space: nowrap;
      '
    >
      {{#if link}} <a href='{{menuUrl}}' {{else}} <span {{/if}}
        {{#if title}}
          title='{{title}}'
        {{/if}}
        class='menu-item'
        style='
          text-decoration: none;
        '
      >{{label}} {{#if link}} </a> {{else}} </span> {{/if}}
      {{#if items}}
        {{> menu}}
      {{/if}}
    </li>
  {{/each}}
</ul>
