{{>header}}
<div style='display: flex; flex-direction: column; align-items: center'>
  <div style='width: 80%; color: {{@config.custom.colorsIndexTop}}' class='indexTop'>
    {{{@config.custom.contentIndexTop}}}
  </div>
  <div class='page'>
    {{#each featuredPosts}}
      {{{text}}}
    {{/each}}
  </div>
</div>
<div style='position: fixed; bottom: 0; right: 0'>
  {{#if @config.custom.linksFacebook}}
    <a href='{{@config.custom.linksFacebook}}'>
      <img class='social-icon' src='{{@website.assetsUrl}}/svg/facebook.svg'/>
    </a>
  {{/if}}
  {{#if @config.custom.linksInstagram}}
    <a href='{{@config.custom.linksInstagram}}'>
      <img class='social-icon' src='{{@website.assetsUrl}}/svg/instagram.svg'/>
    </a>
  {{/if}}
</div>
{{>footer}}
